body {
    background-color: rgb(12, 12, 12);
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-bottom: 50px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #555;
}

body::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.list {
    padding-top: 20px;
}

.item {
    padding: 2px 4px;
    display: flex;
    align-items: center;
}

.item.selected {
    color: greenyellow;
}
.item.selected .square {
    background-color: greenyellow;
}

.item.selected .play-icon {
    fill: greenyellow;
}

.item.selected.empty .square {
    background-color: transparent;
    border-color: greenyellow;
}

.children-container {
    margin-left: 32px;
    border-left: 1.5px solid #404040;
}

.list > .children-container {
    border: none;
    margin-left: 0;
}

.chevron-container {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item.empty .chevron-container {
    visibility: hidden;
    pointer-events: none;
}

.item.open .chevron {
    transform: rotateZ(180deg);
}

.chevron-container:hover {
    background-color: #353535;
    cursor: pointer;
}

.chevron-container:hover .chevron {
    fill: white;
}

.chevron-container:active {
    background-color: #553555;
}

.chevron {
    height: 10px;
    width: 10px;
    transform: rotateZ(90deg);
    opacity: 0;
    transition:
        opacity 100ms ease-in-out,
        transform 100ms ease-in-out;
    fill: rgb(207, 207, 207);
}

.item:hover .chevron,
.item.selected .chevron {
    opacity: 1;
}

.square,
.play-icon {
    display: inline-block;
    margin-left: 5px;
    margin-right: 6px;

    /* TODO: hand-piced to please my damn eye (the right one) */
    margin-top: 2px;
    vertical-align: baseline;

    width: 7px;
    height: 7px;
    background-color: grey;

    /* cursor: pointer; */
    box-sizing: border-box;
}

.play-icon {
    margin-top: 3px;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    margin-right: 5px;
    background-color: unset;
    fill: grey;
}

.item.empty .square {
    background-color: transparent;
    border: 1px solid grey;
}

.item-text {
    outline: none;

    /* allow cursor to be visible when no text in present */
    min-width: 3px;
}
